{% extends 'shared/_MainLayout.html' %} {% load static %} {% load render_partial %} {% block title %} مشخصات محصول | فروشگاه کارزیبا {% endblock %} {% block body %}
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="{{ product.image.url }}" alt="" />
                            <h3>بزرگنمایـی</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                {% for gallery_list in galleries %}
                                <div class="item {{ forloop.first|yesno:'active,' }}">

                                    {% for product_gallery in gallery_list %}
                                    <a href=""><img src="{{ product_gallery.image.url }}" alt="{{ product_gallery.title }}" style="width: 85px; height: 85px;"></a>
                                    {% endfor %}

                                </div>
                                {% endfor %}



                            </div>

                            <!-- Controls -->
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>


                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            {% if product.new %}
                            <img src="{% static 'images/product-details/new.png' %}" class="newarrival" alt="" /> {% endif %}
                            <div>
                                <h2>{{ product.title }}</h2>
                                <p>شناسـه : {{ product.id }}</p>
                            </div>
                            <div>
                                <span>
										<span>قیمت : {{ product.price }} ريال</span>
                                </span>
                                <span>
                                        <form method="post"  action="/order/add_user_order">
                                            {% csrf_token %}
                                            {{ new_order_form.productid }}
                                            <label>تعداد :</label>
                                            {{ new_order_form.count }}
                                            <button type="submit" class="btn btn-fefault cart">
                                                <i class="fa fa-shopping-cart"></i>
                                                افـزودن به سبـد خریـد
                                            </button>
                                        </form>
									</span>
                                <div class='col-sm-12'>
                                    <form method="post" action="{% url 'add_favorate_item' %}">
                                        {% csrf_token %} {{ new_favorate_form.pk }}
                                        <button type="submit" style="width: 100%; height:100%" class="btn btn-fefault cart">
                                                <i class="fa fa-shopping-cart"></i>
                                                افـزودن به لیست علاقه مندی ها
                                            </button>
                                    </form>
                                </div>
                            </div>
                            <div>
                                <p><b>موجـودی :</b> در انبـار موجود می باشد</p>
                                <p><b>شرایـط :</b> جدیـد</p>
                                <p><b>برنـد :</b> برنـد </p>
                                <p><b>بازید :</b> {{ visit_count }} </p>
                            </div>
                            <span class="socials-share share">
									<ul>
										<a href="#">
											<li>
												<label>بلـه</label>
												<img src="{% static 'images/product-details/Bale.png' %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>سـروش</label>
												<img src="{% static 'images/product-details/Soroush.png' %}"/>
											</li>
										</a>
										<a href="#">
											<li>
												<label>اینستاگرام</label>
												<img src="{% static 'images/product-details/Instagram.png' %}"/>
											</li>
										</a>

									</ul>
								</span>

                        </div>
                        <!--/product-information-->
                    </div>
                </div>
                <!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li><a href="#details" data-toggle="tab">جزئیات</a></li>
                            <li><a href="#companyprofile" data-toggle="tab">درباره سازنده</a></li>
                            <li><a href="#tag" data-toggle="tab">برچسب</a></li>
                            <li class="active"><a href="#reviews" data-toggle="tab">نظرات</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade" id="details">

                            <div class="col-md-12">
                                <p>
                                    {{ product.description }}
                                </p>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="companyprofile">
                            <div class="col-sm-12">
                                        <p class="text">
                                            {{ product.about_maker }}

                                        </p>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="tag">
                            <div class="col-sm-12">
                                {% for tag in tags %}
                                <div class="">
                                    <div class="nowrap">
                                        <div class="productinfo text-center" style="align-content: center ;">
                                            <a href="{{ tag.get_absolutely_url }}">
                                                <p class="col-sm-1" style=" background: #FDB45E; margin-left: 5px ;margin-right: 5px ;width: auto; height: 20px; border-radius: 10px"> {{ tag.title }} </p>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}

                            </div>

                        </div>

                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                {% for comment in product_comments %}
                                <div class="fa-border" style="margin-top: 5px;">
                                    <ul>
                                        <li><a ><i class="fa fa-user"></i>{{ comment.full_name }}</a></li>
                                        <li><a><i class="fa fa-clock-o"></i>{{ comment.full_date.time|time }}</a></li>
                                        <li><a ><i class="fa fa-calendar-o"></i>{{ comment.full_date.date|date }}</a></li>
                                        <li><a style="text-transform: none"><i class="fa fa-mail-reply-all"></i>{{ comment.email }}</a></li>

                                    </ul>
                                    {% comment %}<p> {{ comment.email }} </p>{% endcomment %}
                                    <p>
                                        {{ comment.text }}
                                    </p>
                                    <p>
                                    {% if comment.owner.id == request.user.id %}
                                        <form action="#formforedit" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="{{ SubmitForEditCommentsForms.commentid.name }}" id="id_commentid"
                                            value="{{ comment.id }}">

                                            <button type="submit" class="btn">
                                                ویرایش
                                            </button>
                                        </form>
                                    {% endif %}

                                    {% if comment.edited %}
                                    <ul>
                                        <li><a> ویرایش شده در  </a></li>
                                        <li><a><i class="fa fa-clock-o"></i>{{ comment.edited_date.time|time }}</a></li>
                                        <li><a><i class="fa fa-calendar-o"></i>{{ comment.edited_date.date|date }}</a></li>
                                    </ul>
                                    {% endif %}


                                </div> {% endfor %}
                                <p></p>
                                {% if request.user.is_authenticated %}


                                    <form action="{% if SubmitForEditCommentsForms.is_valid %} {% url 'edit_comments' %} {% else %} {% url 'add_comments' %} {% endif %}" method="post" id="formforedit">
                                        {% if SubmitForEditCommentsForms.is_valid %}
                                            <p><b>نظـر خود را ویرایش کنید</b></p>
                                            {% else %}
                                            <p><b>نظـر خود را بنویسیـد</b></p>
                                        {% endif %}
                                        {% csrf_token %}
                                        <span>
                                            {% comment %}<input type="text" placeholder="نام و نام خانوادگـی"/>
                                                <input type="email" placeholder="آدرس ایمیـل"/>{% endcomment %}
                                            {% if SubmitForEditCommentsForms.is_valid %}
                                                {{ comments_form.commentid }}
                                            {% endif %}
                                            {{ comments_form.productid }}
                                            {{ comments_form.full_name }}
                                            {% for err in comments_form.full_name.errors %}
                                                <span class="text-danger"> {{ err }} </span>
                                            {% endfor %}

                                            {{ comments_form.email }}
                                            {% for err in comments_form.email.errors %}
                                                <span class="text-danger"> {{ err }} </span>
                                            {% endfor %}
                                            </span> {% comment %}<textarea name=""></textarea>
                                        <b>رتبـه : </b> <img src="{% static 'images/product-details/rating.png' %}" alt="" /> {% endcomment %}
                                        {{ comments_form.text }} {% for error in comments_form.text.errors %}
                                        <span class="text-danger">{{ error }}</span>
                                        {% endfor %}

                                        <button type="submit" class="btn btn-default pull-left">
                                                ارسـال
                                            </button>
                                    </form>
                                    {% else %}
                                    <div class="alert alert-info text-center">
                                        <p class="text-center"> لطفا ثبت نام کنید و نظر خود را بنویسید </p>
                                        <p class=" "><a href="{% url 'register' %}"> ثبت نام </a></p>
                                        <p class=""><a href="{% url 'register' %}"> ورود </a></p>
                                    </div>
                            {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
                <!--/category-tab-->

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">محصولات پیشنهادی</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">

                        <div class="carousel-inner">

                            {% for product_list in related_product %}
                            <div class="item {% if forloop.first %} active {% endif %}">
                                {% for product in product_list %} {% include "product_item_component.html" with product=product%} {% endfor %}
                            </div>
                            {% endfor %}

                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
                <!--/recommended_items-->

            </div>

            <div class="col-sm-3">
                <div class="left-sidebar">
                    {% render_partial 'products_categories_partial' %}

                    <div class="brands_products">
                        <!--brands_products-->
                        <h2>برنـد ها</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href=""> <span class="pull-left">(50)</span>برنـد 1</a>
                                </li>
                                <li>
                                    <a href=""> <span class="pull-left">(56)</span>برنـد 2</a>
                                </li>
                                <li>
                                    <a href=""> <span class="pull-left">(27)</span>برنـد 3</a>
                                </li>
                                <li>
                                    <a href=""> <span class="pull-left">(32)</span>برنـد 4</a>
                                </li>
                                <li>
                                    <a href=""> <span class="pull-left">(5)</span>برنـد 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/brands_products-->

                    <div class="price-range">
                        <!--price-range-->
                        <h2>فیلتـر قیمـت</h2>
                        <div class="well">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
                        </div>
                    </div>
                    <!--/price-range-->

                    <!--/shipping-->

                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}