{% extends 'shared/_MainLayout.html' %} {% block title %} ثبت نام | فروشگاه کارزیبا {% endblock %} {% block body %}

<div class="container">
    <section id="form" style="padding: 25px !important; margin-top: 0px; ">
        <!--form-->
        <div class="row" style="width: 100%">
            <div class="col-sm-4" style="width: 100%; margin-right: 1% ; padding:0;">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>ثبت نام کاربـر جدیـد</h2>
                    <form method="post">
                        {% csrf_token %}
                        <label for="{{ register_forms.user_name.id_for_label }}">{{ register_forms.user_name.label }}</label> {{ register_forms.user_name }}
                        <label for="{{ register_forms.email.id_for_label }}">{{ register_forms.email.label }}</label> {{ register_forms.email }}
                        <label for="{{ register_forms.password.id_for_label }}">{{ register_forms.password.label }}</label> {{ register_forms.password }}
                        <label for="{{ register_forms.re_password.id_for_label }}">{{ register_forms.re_password.label }}</label> {{ register_forms.re_password }} {% for error in register_forms.user_name.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %} {% for error in register_forms.email.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %} {% for error in register_forms.password.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %} {% for error in register_forms.re_password.errors %}
                        <p class="text-danger">{{ error }}</p>
                        {% endfor %}


                        <button style="margin-top: 10px" type="submit" class="btn btn-default">ثبت نام</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </section>
</div>
{% endblock %}